/* ROUNDED THEME FOR ROFI */
/* Author: Newman Sanchez (https://github.com/newmanls) */
/* modified by dragsbruh (me) */

* {
    bg0: #1f282ecc;
    bg1: #181f20cc;
    bg2: #4C566A80;
    bg3: #88C0D0F2;
    fg0: #9AB8F5;
    fg1: #9AB8F5;
    fg2: #9AB8F5;
    fg3: #4C566A;
}

@import "template/rounded-template.rasi"

element selected {
    text-color: @bg1;
}