@define-color waybarBg rgba(15, 18, 16, 0.0);

@define-color base rgba(31, 40, 46, 0.8);
@define-color surface rgba(24, 31, 32, 0.8);

@define-color primary #9AB8F5;
@define-color text    #c4dcc7;
@define-color alert   #b28488;

* {
  font-family: "JetBrains Mono Nerd Font";
  font-size: 14px;
}

window#waybar {
  background-color: @waybarBg;
}

#clock {
  color: @text;
  background-color: @surface;
  border: 1px solid @primary;
  border-radius: 10px;
  padding: 0 15px;
  margin-top: 5px;
}

#clock:hover {
  background-color: @base;
}

#workspaces {
  background-color: @surface;
  border-radius: 10px;
  margin: 5px 0 0 5px;
  border: 1px solid @primary;
}

#workspaces button {
  padding: 3px 15px;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: @base;
}

#workspaces button.active {
  background-color: @primary;
  color: @base;
}

#temperature,
#battery,
#backlight,
#cpu,
#memory,
#network,
#pulseaudio,
#window,
#tray {
  color: @text;
  background-color: @surface;
  padding: 0 10px;
  margin-top: 5px;

  border-top: 1px solid @primary;
  border-bottom: 1px solid @primary;
}

#temperature:hover,
#battery:hover,
#backlight:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#window:hover {
  background-color: @base;
}

#temperature.critical,
#battery.critical,
#backlight.critical,
#cpu.critical,
#memory.critical,
#network.critical {
  background-color: @alert;
  color: @text;
}

#battery {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid @primary;
  margin-right: 10px;
}

#backlight {
  border-radius: 10px 0 0 10px;
  margin-left: 10px;
  border-left: 1px solid @primary;
}

#network {
  border-radius: 10px 0 0 10px;
  margin-left: 10px;
  border-left: 1px solid @primary;
}

#memory {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid @primary;
}

#pulseaudio.speaker {
  border-radius: 10px 0 0 10px;
  margin-left: 12px;
  border-left: 1px solid @primary;
}

#pulseaudio.microphone {
  border-radius: 0 10px 10px 0;
  border-right: 1px solid @primary;
}

#tray {
  border-radius: 10px;
  margin-right: 5px;
  border: 1px solid @primary;
  padding: 0 10px;
}
